doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet', href='/stylesheets/vis.min.css')
    script(type='text/javascript', src='/javascripts/vis.min.js')
    style(type='text/css').
      #mynetwork {
        width: 600px;
        height: 400px;
        border: 1px solid lightgray;
  body
      h1= title
      p ノードをダブルクリックしてみよう！
      p ノードを引っ張ってみよう！
      #mynetwork
      script(type='text/javascript', src='/javascripts/myvis.js')
        
